body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* DigitalClock.css */
.digital-clock-container {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  border-radius: 15px;
  padding: 40px 20px;
  text-align: center;
  max-width: 400px;
  margin: 100px auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.digital-clock-container h1 {
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 20px;
}

.digital-clock-container p {
  font-size: 3.5em;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 10px;
}
.pizza-gallery {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: space-between; /* Distributes items evenly across the row */
  gap: 20px;
  padding: 20px;
}

.pizza-box {
  width: calc(33.33% - 20px); /* 3 items per row with a gap */
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
}

.pizza-box img {
  width: 100%;
  height: auto;
}

.steps {
  width: 600px;
  background-color: #f7f7f7;
  border-radius: 7px;
  padding: 25px 100px;
  margin: 100px auto;
}

.numbers {
  display: flex;
  justify-content: space-between;
}

.numbers > div {
  height: 40px;
  aspect-ratio: 1;
  background-color: #e7e7e7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.numbers .active {
  background-color: #7950f2;
  color: #fff;
}

.message {
  text-align: center;
  font-size: 20px;
  margin: 40px 0;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;

  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons button span {
  font-size: 16px;
  line-height: 1;
}

h3 {
  margin: 0;
  text-transform: uppercase;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 40px;
  color: inherit;
}

.close:hover {
  color: #7950f2;
}

@media (max-width: 500px) {
  .digital-clock-container {
      max-width: 90%;
  }

  .digital-clock-container h1 {
      font-size: 2em;
  }

  .digital-clock-container p {
      font-size: 3em;
  }
}
